<div class="d-flex flex-column align-items-center">
  <% projects.forEach(project => { %>
  <div class="w-25 project-card">
    <div class="card">
      <img class="card-img-top" src="<%=randImgs[Math.floor(Math.random() * (randImgs.length - 0 + 1) + 0)]%>" style="max-height: 500px; max-width: 500px;">
      <div class="card-body">
        <h4 class="card-title"><%= project.title %></h4>
        <a class="btn btn-primary" href="projects/<%=project._id%>">Work on <%= project.title %></a>
      </div>
    </div>
  </div>
  <% }); %>
</div>