<div class="row h-100 home-container">
  <div class="col-sm-12 my-auto d-flex justify-content-center">
    <div class="d-flex flex-column frosted-background" id="user-delete-account-div">
      <h3 class="page-header">To delete this project, '<%=project.title%>', please type the title and press "Delete
        Project" below</h3>
      <p>Understand that this CANNOT be reversed<!</p>
       <form class="d-flex flex-column" id="delete-project-form"
          action='/users/reset-password' method='POST'>
          <input type="hidden" id="project-title-to-delete" readonly value="<%=project.title%>">
          <input type="hidden" id="project-id-to-delete" readonly
            value="/projects/<%= project._id%>/delete?_method=DELETE">
          <input type="text" id="projectToDelete" name="projectToDelete" placeholder="title" required>
          <br />
          <button id='matchProjectTitle' class="btn btn-danger" disabled hidden
            style='padding: 0; font-size: small;'>Your title must match</button>
          <br />
          <a href="#" class="btn btn-danger" id="deleteProject">Delete Project</a>
        </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/pages/deleteConfirm.js">
</script>