<div class="d-flex flex-column align-items-center" >
  <h3>To delete this project, '<%=project.title%>', please click the button below. Understand that this CANNOT be reversed</h3>
  <a href="/projects/<%= project._id%>/delete?_method=DELETE" class="btn btn-danger">Delete</a>

</div>