<head>
  <script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>
</head>

<div class="d-flex flex-column align-items-center" id="confidence-tracker-container" >
  <div class="row">
    <h3 class="page-header">
      Welcome to the confidence tracker.
    </h3>
    <h6 >Use this to track how you're feeling about your project as you post. Additional features will be added as development continues.</h6>

  </div>
  <div class="row">
    <div class="chartContainer col-sm-6"></div>
    <input type="hidden" name="data" id="entryData" value="<%= JSON.stringify(entries) %>">
  </div>
</div>


<script type="text/javascript" src="/js/lineChart.js">
</script>