<h3>Start a new project</h3>
<form action="/projects/new-project" method="POST">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" required>
 <button type="submit">Submit</button>
</form>