<div class="d-flex flex-column align-items-center">
  <h3 class="page-header">Start a new project</h3>
  <form class="card w-50 entry-card" id="new-project-card" action="/projects/new-project" method="POST">
    <input type="hidden" name="projects" id="projects" value="<%=JSON.stringify(projects)%>">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" required onkeyup="return projectTitleCheck(this, projects, submit)">
    <label for="description">Description</label>
    <textarea name="description" id="new-project-description" cols="30" rows="10"
      placeholder="What is this project? What are your goals? Why are you undertaking it? Describe your project!"></textarea>
    <button class="btn btn-danger" id="warning" disabled hidden>Title cannot match another project title (case sensitive)</button>
    <button class="btn btn-success" type="submit" id="submit" disabled>Get Started</button>
  </form>
</div>

<script>
  function projectTitleCheck(title, projectsInput, submit) {
    warning.hidden = true;
    submit.disabled = false;
    projects = JSON.parse(projectsInput.value);
    projects.forEach(project => {  
      if (project.title.toLowerCase() === title.value.toLowerCase()) {
        match = true;
        submit.disabled = true;
        warning.hidden = false;
      };
    });
  }
</script>