<h1>All project entries</h1>

<% entries.forEach(entry => { %>
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= entry.title %></h4>
    <p class="card-subtitle mb-2 text-muted"><%= entry.writtenDate%></p>
    <p class="card-text"><%= entry.description %></p>
  </div>
</div>
<%}); %>