<!-- <script src='/js/lineChart.js'></script> -->

<script>
  const d3 = require('d3');
  const svg = d3.select('div.container').append('svg').attr('background', '#f2e5a1');
</script>
<div id="container"></div>