<body
  style="margin: 0; padding: 0;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
  <div style="margin:0; width: 100%; background-color: #F8F9FA; text-align: center;">
    <h1 style="margin: 0; padding: 20px;">Your Skriftr password reset</h1>
  </div>
  <div style="background-color: #E5E5E5; width: 100%; height: 70vh;">
    <div style="background-color: transparent; padding: 10px; text-align: center;">
      <h2 style="margin: 10vh;">Just click below and reset your password.</h2>
      <p>This link will expire after 24 hours. After that, you'll need to use the reset password again.</p>
      <p style="text-align: center;"><a style="
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      color: #fff;
        background-color: #198754ea;
        border-color: #198754ea" clicktracking=off href='https://skriftr.com/users/<%=docId%>/<%=tempKey%>'>Reset my password</a></p>
    </div>
  </div>
  <footer style="background-color: rgb(63, 63, 63); color: white; text-align: center;">
    <p style="margin: 0; padding: 5px;">Looking for more information? <a href="https://skriftr.com/about" style="text-decoration: none; color: #37c784ea;">Check out our
        About page.</a></p>
  </footer>
</body>