<div id="about-page-body">
  <div class="container align-items-center" id="about-page-container">
    <div id="about-page-steps">
      <div class="row about-row">
        <h2>What is Skriftr?</h2>
        <h6>Skriftr is a proof-of-concept of an online journal.</h6>
        <p class="about-paragraph">While learning how to create full-stack applications, I realized that it can be hard
          to
          learn new skills when progress isn't tangible. Additionally, I needed a "sandbox" to practice releasing an
          actual Node.JS application. So, over the course of three months, I created Skriftr.
          <br>
          <br>
          Skriftr is built with Express.JS in a Model-View-Controller (MVC) pattern. The storage is
          handled
          using
          MongoDB, managed through Mongoose.JS. The views (currently) are Embedded JavaScript (EJS) templates, a
          simple and
          lightweight server-side rendering of HTML. Styling is a combination of a Bootstrap framework and vanilla CSS,
          as
          well as D3.JS for SVG visuals. In the future, the app will be updated to use a full MERN (MongoDB, Express.JS,
          React.JS, Node.JS) stack.
          <br>
          <br>
          Security: Skriftr adheres to SSL/TLS protocol and uses Helmet.JS, data validation/sanitization, CSP (Content
          Security Policy) to address threats from XSS (Cross Site Scripting), CORS (Cross-Origin Resource Sharing), and
          other malicious acts. Login information is hashed and salted.
        </p>
      </div>
      <div class="row about-row">
        <h2>How to use Skriftr</h2>
      </div>
      <div class="row about-row">
        <div class="col">
          <h4>1. Start a project!</h4>
          <p class="about-paragraph">Start a project with nothing more than a title and a description</p>
        </div>
        <div class="col">
          <img src="/img/step-one-project-start.png" class="about-page-img-desktop"
            alt="A screenshot of the new project page, with 'Creating a React.JS front end for my website' in the title and 'This project is about implementing a React.JS front end for my website, including Redux. This way, I can become more proficient in Single Page Application development in Node.JS' in the description">
          <img src="/img/step-one-project-start-mobile.png" class="about-page-img-mobile"
            alt="A screenshot of the new project page, with 'Creating a React.JS front end for my website' in the title and 'This project is about implementing a React.JS front end for my website, including Redux. This way, I can become more proficient in Single Page Application development in Node.JS' in the description">
        </div>
      </div>
      <div class="row about-row">
        <div class="col">
          <h4>2. Update Daily</h4>
          <p class="about-paragraph">Post progress and entries as you work</p>
        </div>
        <div class="col">
          <img src="/img/step-two-update-daily.png" class="about-page-img-desktop"
            alt="An example with two entries on the project page, each with a title, description, and date visible. Borders of the pages have the project description, project title, and a button for the confidence tracker">
          <img src="/img/step-two-update-daily-mobile.png" class="about-page-img-mobile"
            alt="An example with two entries on the project page, each with a title, description, and date visible. Borders of the pages have the project description, project title, and a button for the confidence tracker">
        </div>
      </div>
      <div class="row about-row">
        <div class="col">
          <h4>3. Check the "Confidence Tracker"</h4>
          <p class="about-paragraph">As you post more entries, you should start seeing confidence rise and fall over
            time.</p>
        </div>
        <div class="col">
          <img src="/img/step-three-track-progress.png" class="about-page-img-desktop"
            alt="The confidence tracker; a line graph sporadically rising starting in March and ending in August">
          <img src="/img/step-three-track-progress-mobile.png" class="about-page-img-mobile"
            alt="The confidence tracker; a line graph sporadically rising starting in March and ending in August">
        </div>
      </div>
    </div>
    <div class="row about-row">
      <h4>The goals of Skriftr</h4>
      <p class="about-paragraph">Skriftr is a personal project. This website <i> does not collect data, share data, or
          operate as a business in
          any way.</i> And it is totally free! It was created as a personal way to produce a full stack web application,
        while learning along the way.
        <br>
        <br>
        If you'd like to help me, please make an account, explore, and leave feedback!
      </p>
    </div>
    <div class="row about-row">
      <h3 id="about-warning">A warning.</h3>
      <p class="about-paragraph">While anyone is invited to use Skrifter, this is a small amateur project. <i>Accounts
          can be hacked,
          information
          can be lost, and systems can break.</i> I do not have the resources to account for every possibility, and do
        not
        want anyone using this application to feel misled. So please, experiment and use this website as much as you'd
        like! But protect yourself by not using a repeat password, use a long password, and never make any journal
        entries
        that include personal information. Thank you.</p>
    </div>

    <div class="row about-row">
      <h5>Credits</h5>
      <ul class="credit-list about-paragraph">
        <li class="credit-list-item"><a class="credit-list-link" href="https://unsplash.com/">Unsplash</a></li>
        <ul class="credit-list">
          <li class="credit-list-item"><a class="credit-list-link" href="https://unsplash.com/@axellvak">Remy_Loz</a> - <a
              class="credit-list-link" href="https://instagram.com/remy_loz">instagram.com/remy_loz</a></li>
          <li class="credit-list-item"><a class="credit-list-link" href="https://unsplash.com/@andyoneru">Andyone</a> - <a
              class="credit-list-link"
              href="https://www.instagram.com/andyoneru/?utm_medium=referral&utm_source=unsplash">instagram.com/andyoneru</a>
          </li>
          <li class="credit-list-item"><a class="credit-list-link" href="https://unsplash.com/@readysetfreddy">Freddy
              Castro</a> - <a class="credit-list-link" href="https://mineratl.com">Featured Website</a></li>
          <li class="credit-list-item"><a class="credit-list-link" href="https://unsplash.com/@goumbik">Lukas Blazek</a>
          </li>
        </ul>
      </ul>
    </div>

    <div class="row about-row">
      <h5>Contact</h5>
      <p class="about-paragraph">Interested in Skriftr? Have a recommendation (features, bugs, etc.)? Let me know.</p>
      <form action="" class="about-paragraph d-flex flex-column" id="contact-form" method="POST">
        <label for="email">Your email</label>
        <% if (loggedIn) { %>
        <input type="email" name="email" id="contact-email" disabled value="<%=currentUser.email%>" required>
        <% } else { %>
        <input type="email" name="email" id="contact-email" placeholder="contact@email.com" required>
        <% } %>
        <div class="radio-left">
          <input type="radio" id="bug" name="contactType" value="bug" required>
          <label for="bug">Bug</label>
        </div>
        <div class="radio-left">
          <input type="radio" id="recommendation" name="contactType" value="recommendation">
          <label for="recommendation">Recommendation</label>
        </div>
        <div class="radio-left">
          <input type="radio" id="other" name="contactType" value="other">
          <label for="other">Other</label>
        </div>
        <textarea name="description" id="contact-description" cols="30" rows="3" placeholder="What's up?"
          required></textarea>
        <button type="submit" class="btn btn-success" id="contact-submit">Contact</button>
      </form>
    </div>
  </div>
</div>