<div class="row h-100 home-container">
  <div class="col-sm-12 my-auto d-flex justify-content-center">
    <div class="d-flex flex-column frosted-background">
      <h5>Looks like you ran into error <%= code %> </h5>
      <a class="btn btn-danger" href="/projects">Take me home</a>
      <%= console.log(code) %>
    </div>
  </div>
</div>