<div class="row h-100" id="home-container" style="background-image: url(/img/home-background-<%=Math.floor(Math.random() * 4)%>.jpg)">
  <div class="col-sm-12 my-auto d-flex justify-content-center">
    <div class="d-flex flex-column frosted-background">
      <h1 id="home-title">Project Journal</h1>
      <p id="home-animation">Track an idea from conception to completion</p>
    </div>
  </div>