<!DOCTYPE html>
<html>

<head>
  <title>Project Journal</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/journal.css">

</head>

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="/">Project Journal</a> -->
    <% if (loggedIn) { %>
    <a class="navbar-brand" href="#">Hi, <%= currentUser.name.first %></a>
    <% } %>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a href="/projects" class="nav-link">My Projects</a>
      </li>
      <li class="nav-item">
        <a href="/users/profile" class="nav-link">My Profile</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <% if (loggedIn) { %>
      <li class="nav-item">
        <a href="/users/logout" class="nav-link">Log Out</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a href="/users/login" class="nav-link">Log In?</a>
      </li>
      <% } %>
      <li class="flashes nav-item">
        <% if(flashMessage[Object.keys(flashMessage)]) { %>
        <div class="flash nav-link alert-<%=Object.keys(flashMessage)%>" role="alert">
          <%=flashMessage[Object.keys(flashMessage)]%></div>
        <% } %>
  </div>
  </ul>
  </div>
</nav>

<body id="main-container">
  <%- body %>
  <!-- footer -->
</body>

</html>