<!DOCTYPE html>
<html>
  <head>
    <title>Project Journal</title>
    <!-- Add scripts and styling links later -->
  </head>

  <body>
    <!-- nav -->
    <%- body %>
    <!-- footer -->
  </body>
</html>