<h3>Post a new entry</h3>
<form>
  <label for="title">Title</label>
  <input id="title" type="text">
  <label for="description">Description</label>
  <input id="description" type="text">
  <input type="submit">
</form>