.project-card {
  margin: 10px;
}

.entry-card{
  margin: 20px;
}

#entry-description, #description{
  margin: 10px;
  width: 95%;
  height: 100px;
  resize: none;
}

#entry-title, #title{
  margin: 10px;
  width: 75%;
}

#entry-submit{
  margin: 10px;
}

#new-entry{
  margin: 50px;
}