<div class="row h-100 home-container">
  <div class="col-sm-12 my-auto d-flex justify-content-center">
    <div class="d-flex flex-column frosted-background">
      <h1 class="align-self-center">Change Password</h1>
      <p class="align-self-center">It is recommended that you don't use repeat passwords - here, or anywhere else!</p>
      <form class="d-flex flex-column" action='/users/change-password' method='POST'
      onkeyup="return passwordCheck(this)">
      <label for="currentPassword">Current Password</label>
      <input type="password" id="currentPassword" name="currentPassword" placeholder="required" required>
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword" placeholder="required">
      <label for="newPasswordConfirm">Re-enter new password (must match)</label>
      <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="required" required>
      <br />
      <button id='matchPassWarn' class="btn btn-danger" disabled hidden>Your new passwords must match</button>
      <button id="changePassSubmit" class="btn btn-primary" type="submit">Change Password</button>
    </form>
    </div>
  </div>
</div>

<!-- <script type="text/javascript" src="/js/passwordCheck.js"></script> -->
<script>
  function passwordCheck(form) {
    if (form.newPassword.value !== form.newPasswordConfirm.value) {
      form.changePassSubmit.disabled = true;
      form.matchPassWarn.hidden = false;
    } else {
      form.changePassSubmit.disabled = false;
      form.matchPassWarn.hidden = true;
    }
  }
</script>