<h2>Welcome to this project Journal</h2>
<sub>Use it to record progress on learning new skill.</sub>
<sub>A Node.js application using Express, Mongoose, MongoDB, and Embedded Javascript (EJS)</sub>

<form action="/users/login" method="POST">
  <h2>Login:</h2>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" placeholder="Email" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <button type="submit">Submit</button>
</form>