<div class="row h-100" style=" min-height: 60vh ;">
  <!-- <div class="row">
    <div class="col">
      <h2>Welcome to this project Journal</h2>
      <p>Use it to record progress on learning new skill.</p>
      <p>A Node.js application using Express, Mongoose, MongoDB, and Embedded Javascript (EJS)</p>
    </div>
  </div> -->


  <div class="col-sm-12 my-auto d-flex justify-content-center" >
    <div class="d-flex flex-column">
      <h2 class="align-self-center">Welcome to this project Journal</h2>
      <p class="align-self-center">Use it to record progress on learning new skill.</p>
      <p class="align-self-center">A Node.js application using Express, Mongoose, MongoDB, and Embedded Javascript (EJS)</p>
    </div>
  </div>
  <div class="col-sm-12 my-auto d-flex justify-content-center" >
    <form class="d-flex flex-column" action="/users/login" method="POST">
      <h2 class="align-self-center">Login:</h2>
      <br>
      <input type="text" name="email" id="email" placeholder="Email" required>
      <br>
      <input type="password" name="password" id="password" placeholder="Password" required>
      <button type="submit">Submit</button>
    </form>
  </div>


</div>