<div class="row h-100 home-container"
  style="background-image: url(/img/home-background-<%=Math.floor(Math.random() * 4)%>.jpg)">
  <div class="col-sm-12 my-auto d-flex justify-content-center">
    <div class="d-flex flex-column frosted-background" id="user-delete-account-div">
      <h1 class="align-self-center">Create and account through email</h1>
      <p class="align-self-center">This website is for personal use - no information will be used for anything. In order to sign up, you will need a valid email account.</p>
      <form class="d-flex flex-column" id="new-user-form" action='/users/new-user' method='POST'>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" placeholder="required" required>
        <label for="middleName">Middle Name (optional)</label>
        <input type="text" id="middleName" name="middleName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" placeholder="required" required>
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder='required' required>
        <br />
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>

    </div>
  </div>
</div>

</div>